<div id="detailsDialog">
    <form id="detailsForm">
        <div class="details-form-field">
            <label for="chains_name">chains_name:</label>
            <input id="chains_name" name="chains_name" type="text" />
        </div>
        <div class="details-form-field">
            <label for="address">address:</label>
            <input id="address" name="address" type="text" />
        </div>
        <div class="details-form-field">
            <label for="office_hours">office_hours:</label>
            <input id="office_hours" name="office_hours" type="text" />
        </div>
        <div class="details-form-field">
            <label for="phone">phone:</label>
            <input id="phone" name="phone" type="text" />
        </div>
        <div class="details-form-field">
            <button type="submit" id="save">Save</button>
        </div>
    </form>
</div>
